@charset "utf-8";
body {
	margin: 0px;
	color: #151515;
	font-family: strong; 
	background-color: #FFFFFF;
}
#wrapper {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
#top {
    overflow: hidden;
}
#hero img {
	max-width: 100%;
}
#hero {
}
h1 {
	color: #F2D919;
	font-family: strong;
	font-style: normal;
	font-weight: 400;
	font-size: 500%;
	background-color: #000000;
	text-align: center;
}
h2 {
	margin-top: 0.5em;
}
h4 {
	font-size: 150%;
	text-align: left;
	font-weight: bold;
	margin-left: 5%;
	margin-top: 5%;
	margin-right: 15%;
}

figcaption {
	font-size: 0.875em;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-top: 0.5em;
}
figure {
	display: block;
	width: 420px;
}
figure img {
	padding: 10px;
}
.centered {
	margin-left: auto;
	margin-right: auto;
}
.floatleft {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
}
.floatright {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}
footer {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2%;
	background-color: #8B8989;
	color: #FFFFFF;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #F80408;
}
a:visited {
	color: #F80408;

}
a:hover, a:active, a:focus {
	color: #F80408;
	text-decoration: underline;
}
#mainnav ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
#mainnav a {
	width: 20%;
	display: block;
	float: left;
	text-align: right;
	background-color: #F80408;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	color:#000000;
	background-color: #FFFFFF;
	text-decoration: none;
}

#sidebar {
	float: right;
	width: 25%;
}
#main {
	clear: left;
	margin-left: 5%;
	margin-bottom: 10%;
	margin-top: 0px;
}
#bottom {
	width: 100%;
	background-color: #020202;
	color: #FFFFFF;
	font-family: strong;
	font-style: normal;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#wrapper #top {
}
#mainnav ul li a {
	text-align: center;
}
